:root {
  --bcolor: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(46, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* transition: all 450ms ease-in-out; */
}

.closeMap {
  display: none;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 2%;
  right: 7%;
  cursor: pointer;
  transition: all 1s ease-in;
}

.closeMap img {
  height: 100%;
  width: 100%;
  transition: all 1s ease-in;
}

.card {
  display: flex;
  width: 24.8vw;
  height: 13.5vw;
  transition: all 450ms ease-in-out;
  cursor: pointer;
}

.fold {
  flex: 1;
  background: url(./Map_draft@4x.png);
  background-size: cover;
  box-sizing: border-box;
  transition: all 450ms ease-in-out;
}

.fold:nth-child(1) {
  background-position: 0%;
  transform: skewY(-45deg);
  filter: brightness(1.25);
}
.fold:nth-child(1)::before {
  content: "";
  position: absolute;
  height: 207px;
  width: 95px;
  left: -2px;
  right: 0;
  bottom: -2px;
  z-index: -1;
  border: var(--bcolor) solid;
  border-right: 0 !important;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.fold:nth-child(2) {
  background-position: 33.4%;
  transform: skewY(45deg);
  filter: brightness(0.75);
}

.fold:nth-child(2)::before {
  content: "";
  position: absolute;
  height: 207px;
  width: 95px;
  left: 0px;
  right: 0;
  bottom: -2px;
  z-index: -1;
  border: var(--bcolor) solid;
  border-right: 0 !important;
  border-left: 0 !important;
}

.fold:nth-child(3) {
  background-position: 66.6%;
  transform: skewY(-45deg);
  filter: brightness(1.25);
}

.fold:nth-child(3)::before {
  content: "";
  position: absolute;
  height: 207px;
  width: 95px;
  left: 0px;
  right: 0;
  bottom: -2px;
  z-index: -1;
  border: var(--bcolor) solid;
  border-right: 0 !important;
  border-left: 0 !important;
}

.fold:nth-child(4) {
  background-position: 100%;
  transform: skewY(45deg);
  filter: brightness(0.75);
}

.fold:nth-child(4)::before {
  content: "";
  position: absolute;
  height: 207px;
  width: 95px;
  left: 0px;
  right: 0;
  bottom: -2px;
  z-index: -1;
  border: var(--bcolor) solid;
  border-left: 0 !important;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
